<footer>
    <div class="cont">
        <div class="one">
            <h1>Republic</h1>
            <p>Giving everyone access to <br> startup investing</p>
        </div>
        <div class="two">
            <h4>For Investors</h4>
            <ul>
                <li>Why invest</li>
                <li>How it works</li>
                <li>FAQ</li>
                <li>Risks</li>
                <li>Privacy policy</li>
                <li>Accessibility</li>
                <li>Cookie Preferences</li>
                <li>Form CRS</li>
            </ul>
        </div>
        <div class="three">
            <h4>For Startups</h4>
            <ul>
                <li>Why raise</li>
                <li>Learn</li>
                <li>FAQ</li>
                <li>Instruments</li>
                <li>Crowd SAFE</li>
                <li>Tokenized assets</li>
            </ul>
        </div>
        <div class="four">
            <h4>Crypto</h4>
            <ul>
                <li>For investors</li>
                <li>For companies</li>
                <li>How it works</li>
                <li>Token DPA</li>
                <li>Tokenization</li>
            </ul>
        </div>
        <div class="five">
            <h4>Company</h4>
            <ul>
                <li>About</li>
                <li>Journal</li>
                <li>Events</li>
                <li>Contact</li>
                <li>We're hiring!</li>
            </ul>
        </div>
    </div>
</footer>
