<div class="cont1">
<h1>Peak Ski Company</h1>
<p >Revolutionary skis with proprietary technology by Olympian Bode Miller</p>
<div class="box">
    <button>D2C</button>
    <button>Fitness</button>
    <button>B2C</button>
    <button>Sports</button>
</div>
<div class="box1">
    <div class="bbox">
<iframe width="700" height="445" src="https://www.youtube.com/embed/VVFWFRFIdsI "></iframe>
</div>
<div class="sbox">
    <ul>
        <li><b>$547,112 </b><br>
            <div id="p">44% raised of $1.24M max goal</div>   
        </li>
        <li><b>310</b> <br>
            <div id="p"> Investors</div>
           
        </li>
        <li><b>92 days</b> <br>
            <div id="p">Left to invest</div>
            </li>
        <button>Invest in Peak Sky Company</button>
        <p style="font-size: medium ;text-align: center;">$250 minimum investment</p>
    </ul>
</div>
</div>
</div>