<nav>
    <div class="cont">
    <ul>
        <li [style.color]="color">Pitch</li>
        <li>Discussion</li>
        <li>Updates</li>
        <li>Reviews</li>
    </ul>
  </div>
</nav>
<hr>
<h1 id="h">Highlights</h1>
<div class="cont2">
<ul>
<li> Huge market with 1M skis sold in the US annually + another 2.2M in Europe</li>
<li>   Two years of record-breaking skier visits show strong growth in the sport</li>
<li>   Strong year one performance: 4k+ skis sold, $3M in revenue + 5-star reviews</li>
<li>   Bode Miller's "Q Rating" is the highest of any winter athlete in the world</li>
<li>   Featured in Bloomberg, Forbes, Outside, Geekwire, Freeskier, Snow Magazine</li>
<li>   Dominated ski test reviews across all major ski outlets after one season</li>
<li>   Voted Top 4 Most Memorable Brand in SIA 2023 Consumer Reports survey</li>
</ul>
</div>
<br><br>
<hr>
<br><br>
<div class="disc">
    <h1 style="text-decoration: underline;color: blue;">Discussion</h1>
    <div class="sc">
        <h4 style="text-align: left;margin: 0;">Teddy Lyons</h4>
        <p style="text-align: left;">4 days ago</p>
        <p>Hi there, <br>

            a) What is your most recent monthly burn rate?<br>
            b) What is your most recent monthly cash on hand?<br>
            c) Are you raising a parallel angel or VC round simultaneously?If yes, who is investing in this round?</p>
    </div>
</div>